@charset "UTF-8";
               /* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../sass/liebiao.scss */
body {
  background: #fff;
  color: #1E1E1E;
  font-size: 12px;
  line-height: 18px;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Helvetica Neue", Arial, Tahoma, sans-serif;
}

/* line 29, ../sass/liebiao.scss */
p {
  display: block;
}

/* line 34, ../sass/liebiao.scss */
.top-middle input {
  text-indent: 10px;
  color: #666;
}

/* line 40, ../sass/liebiao.scss */
.banner {
  width: 1863px;
  height: 380px;
  margin-left: -332px;
  position: relative;
}
/* line 45, ../sass/liebiao.scss */
.banner #pic {
  width: 100%;
  height: 100%;
}
/* line 48, ../sass/liebiao.scss */
.banner #pic li {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0;
}
/* line 54, ../sass/liebiao.scss */
.banner #pic li a {
  width: 100%;
  height: 100%;
}
/* line 57, ../sass/liebiao.scss */
.banner #pic li a img {
  width: 100%;
  height: 100%;
}
/* line 64, ../sass/liebiao.scss */
.banner .point {
  position: absolute;
  text-align: center;
  line-height: 23px;
  width: 203px;
  left: 50%;
  margin-left: -101.5px;
  bottom: 10px;
  border-radius: 5px;
  height: 23px;
  background: rgba(0, 0, 0, 0.2);
}
/* line 75, ../sass/liebiao.scss */
.banner .point li {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  border-radius: 50%;
  border: 1px solid #eee;
  color: #999;
  background: white;
  font: 12px/15px Arial;
  margin-top: 3px;
  float: left;
}
/* line 89, ../sass/liebiao.scss */
.banner .point .current {
  background: #bb3535;
  color: white;
}

/* line 96, ../sass/liebiao.scss */
.book-list {
  position: absolute;
  width: 192px;
  overflow: hidden;
  height: 0px;
  top: 100%;
  left: 0px;
  display: block;
  background: rgba(41, 120, 247, 0.6);
  border: 0px solid #f6f6f6;
  z-index: 999;
}
/* line 107, ../sass/liebiao.scss */
.book-list ul {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  z-index: 999;
}
/* line 111, ../sass/liebiao.scss */
.book-list ul li {
  z-index: 999;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  border-bottom: 1px dashed white;
  padding: 10px 0 10px 10px;
}
/* line 118, ../sass/liebiao.scss */
.book-list ul li a {
  text-decoration: none;
  color: white;
  font: 14px/25px Arial;
  margin: 0 3px 3px 0;
  display: inline-block;
}
/* line 126, ../sass/liebiao.scss */
.book-list ul li h3 {
  color: white;
  margin-bottom: 5px;
}
/* line 130, ../sass/liebiao.scss */
.book-list ul li:hover div {
  display: block;
}
/* line 133, ../sass/liebiao.scss */
.book-list ul li .live {
  top: -110px;
  transform: translateY(0);
}
/* line 137, ../sass/liebiao.scss */
.book-list ul li .kexue {
  top: -100px;
  transform: translateY(0);
}
/* line 141, ../sass/liebiao.scss */
.book-list ul li div {
  z-index: 997;
  box-shadow: 5px 5px 5px rgba(99, 98, 98, 0.219);
  background: white;
  display: none;
  position: absolute;
  min-width: 900px;
  padding: 5px 20px;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}
/* line 152, ../sass/liebiao.scss */
.book-list ul li div #end1 {
  top: 120px;
  transform: translateY(0);
}
/* line 156, ../sass/liebiao.scss */
.book-list ul li div #end2 {
  top: 130px;
  transform: translateY(0);
}
/* line 160, ../sass/liebiao.scss */
.book-list ul li div .flow {
  width: 0px;
  height: 0px;
  border-left: 20px solid #C62E2D;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  padding: 0;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: none;
}
/* line 175, ../sass/liebiao.scss */
.book-list ul li div ul li {
  height: 40px;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
}
/* line 179, ../sass/liebiao.scss */
.book-list ul li div ul li .blod {
  font-weight: bold;
  font-size: 14px;
  color: #666;
  padding: 0 40px 0 15px;
}
/* line 185, ../sass/liebiao.scss */
.book-list ul li div ul li a {
  text-align: center;
  padding: 0 15px;
  display: block;
  float: left;
  font: 14px/20px Arial;
  height: 20px;
  color: #999;
  margin: 0;
  border-right: 1px solid #ddd;
}
/* line 195, ../sass/liebiao.scss */
.book-list ul li div ul li a:hover {
  color: #C62E2D;
}
/* line 200, ../sass/liebiao.scss */
.book-list ul li div ul .nonesty {
  border-bottom: 0;
}

/* line 209, ../sass/liebiao.scss */
.container2 {
  width: 1200px;
  margin: 0 auto;
}
/* line 212, ../sass/liebiao.scss */
.container2 .breadcrumb {
  width: 100%;
  margin-top: 30px;
  background: #eee;
}
/* line 216, ../sass/liebiao.scss */
.container2 .breadcrumb ul {
  padding: 20px 0;
}
/* line 218, ../sass/liebiao.scss */
.container2 .breadcrumb ul li {
  display: inline-block;
}
/* line 220, ../sass/liebiao.scss */
.container2 .breadcrumb ul li a {
  text-decoration: none;
  font-size: 12px;
  color: #666;
}
/* line 224, ../sass/liebiao.scss */
.container2 .breadcrumb ul li a:hover {
  color: #C62E2D;
}
/* line 228, ../sass/liebiao.scss */
.container2 .breadcrumb ul li span {
  font-size: 15px;
  color: black;
}
/* line 235, ../sass/liebiao.scss */
.container2 .item-detail-parent {
  width: 100%;
  height: 550px;
  vertical-align: middle;
  z-index: 0;
  padding: 25px;
  margin-top: 20px;
}
/* line 240, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-left {
  position: relative;
  display: inline-block;
  float: none;
  width: 430px;
}
/* line 245, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-left .detail-left-top {
  width: 375px;
  height: 375px;
  border: 0;
  text-align: center;
  position: relative;
  z-index: 1;
}
/* line 252, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-left .detail-left-top img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
/* line 257, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-left .detail-left-top #mark {
  position: absolute;
  display: block;
  width: 375px;
  height: 375px;
  left: 0;
  top: 0;
  background-color: #fff;
  opacity: 0;
  z-index: 10;
}
/* line 268, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-left .detail-left-top #float-box {
  display: none;
  width: 200px;
  height: 200px;
  position: absolute;
  background: #ffffcc;
  border: 1px solid #ccc;
  opacity: 0.5;
}
/* line 278, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-left #big-box {
  display: none;
  position: absolute;
  top: 0;
  left: 375px;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border: 1px solid #ccc;
  z-index: 1;
}
/* line 288, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-left #big-box img {
  width: 620px;
  height: 620px;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 5;
}
/* line 297, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-left .detail-left-middle {
  width: 375px;
  margin: 14px 0 0;
}
/* line 300, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-left .detail-left-middle a {
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  border: 1px solid #C62E2D;
  display: block;
}
/* line 307, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-left .detail-left-middle a img {
  max-width: 100%;
  max-height: 100%;
  border: 0;
}
/* line 314, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-left .detail-left-bottom {
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}
/* line 318, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-left .detail-left-bottom .share {
  color: #666;
}
/* line 320, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-left .detail-left-bottom .share img {
  width: 14px;
  height: 14px;
  vertical-align: middle;
}
/* line 324, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-left .detail-left-bottom .favourite {
  color: #666;
}
/* line 326, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-left .detail-left-bottom .favourite img {
  width: 14px;
  height: 14px;
  vertical-align: middle;
}
/* line 329, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-left .detail-left-bottom .favourite span {
  margin-left: 3px;
}
/* line 335, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right {
  position: relative;
  margin-left: 40px;
  display: inline-block;
  vertical-align: top;
  width: 604px;
}
/* line 341, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-title {
  position: relative;
  padding-right: 20px;
  margin-bottom: 20px;
}
/* line 345, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-title .name {
  color: #1E1E1E;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
/* line 352, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-title .advertise {
  color: #1E1E1E;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}
/* line 359, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-title .base-attr {
  display: inline-block;
  margin-right: 5px;
  font-weight: 700;
}
/* line 363, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-title .base-attr a {
  color: #1890FF;
  margin-right: 5px;
  font-weight: 400;
}
/* line 371, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-info ul {
  background: #eee;
  padding-bottom: 10px;
}
/* line 375, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-info .promotiom-info {
  background: url(../img/item-detail-page/promotiom-info-back.png);
  color: #fff;
  line-height: 32px;
  height: 32px;
}
/* line 380, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-info .promotiom-info .clock {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  vertical-align: top;
}
/* line 384, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-info .promotiom-info .zhijian {
  color: white;
  font-weight: bold;
}
/* line 388, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-info .promotiom-info .promotion-clock {
  float: right;
}
/* line 390, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-info .promotiom-info .promotion-clock .count-day {
  font-size: 16px;
  font-weight: bold;
}
/* line 394, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-info .promotiom-info .promotion-clock .count-down {
  margin-right: 5px;
}
/* line 396, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-info .promotiom-info .promotion-clock .count-down span {
  padding: 6px 3px;
  background: #1E1E1E;
  line-height: 22px;
}
/* line 404, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-info .price-li {
  margin-top: 20px;
  height: 40px;
  line-height: 40px;
}
/* line 408, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-info .price-li .frist-text {
  color: #666;
  padding: 0 20px;
}
/* line 412, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-info .price-li .item-price {
  font-size: 20px;
  font-weight: 700;
  color: #C62E2D;
  vertical-align: top;
}
/* line 418, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-info .price-li .item-discount {
  color: #C62E2D;
  font-size: 14px;
}
/* line 422, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-info .price-li .delete-price {
  color: #5B5B5B;
  text-decoration: line-through;
  font-size: 14px;
}
/* line 428, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-info .coupon-li {
  position: relative;
  height: 40px;
  line-height: 40px;
}
/* line 432, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-info .coupon-li .coupons {
  padding: 0px 10px;
  background: #C62E2D;
  color: #fff;
  font-weight: 700;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  box-sizing: border-box;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
/* line 448, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-info .coupon-li .coupons::before {
  position: absolute;
  display: block;
  width: 0;
  height: 28px;
  border: 6px dotted #F7F5F1;
  background-color: transparent;
  content: '';
  top: -6px;
  left: -9px;
}
/* line 459, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-info .coupon-li .coupons::after {
  position: absolute;
  display: block;
  width: 0;
  height: 28px;
  border: 6px dotted #F7F5F1;
  background-color: transparent;
  content: '';
  top: -6px;
  right: -9px;
}
/* line 471, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-info .coupon-li .frist-text {
  color: #666;
  padding: 0 20px;
}
/* line 475, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .item-info .coupon-li .show-more {
  color: #999;
  position: absolute;
  right: 20px;
  top: 0px;
}
/* line 483, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .sku-info {
  margin-top: 7px;
}
/* line 486, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .sku-info ul .send-info {
  height: 42px;
  line-height: 42px;
}
/* line 489, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .sku-info ul .send-info .send-text {
  color: #666;
  padding: 0 20px;
  vertical-align: top;
}
/* line 494, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .sku-info ul .send-info .select-address {
  display: inline-block;
  padding: 5px 5px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  line-height: 20px;
}
/* line 501, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .sku-info ul .send-info .select-address span {
  margin-right: 5px;
  color: #666;
}
/* line 505, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .sku-info ul .send-info .select-address img {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
/* line 509, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .sku-info ul .send-info .youhuo {
  margin-left: 15px;
}
/* line 513, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .sku-info ul .control-group {
  height: 50px;
  margin-top: 10px;
  line-height: 50px;
}
/* line 517, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .sku-info ul .control-group .count-text {
  padding: 0 20px;
}
/* line 520, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .sku-info ul .control-group .input-amount {
  display: inline-block;
  vertical-align: middle;
}
/* line 523, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .sku-info ul .control-group .input-amount a {
  display: block;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 5px;
  height: 30px;
  color: #999;
  float: left;
  width: 30px;
  width: 30px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  line-height: 30px;
  text-align: center;
}
/* line 539, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .sku-info ul .control-group .input-amount input {
  float: left;
  box-sizing: border-box;
  color: #666;
  height: 30px;
  width: 50px;
  line-height: 30px;
  text-align: center;
  border-right: none;
  border-left: none;
  border: 1px solid #ddd;
}
/* line 553, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .sku-info ul .choose-btns {
  height: 42px;
  margin-top: 30px;
}
/* line 556, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .sku-info ul .choose-btns .add-cart {
  color: #C62E2D;
  line-height: 40px;
  width: 157px;
  background-color: #fff;
  border: 1px solid #C62E2D;
  font-size: 16px;
  height: 40px;
  text-align: center;
  margin-right: 16px;
}
/* line 567, ../sass/liebiao.scss */
.container2 .item-detail-parent .detail-right .sku-info ul .choose-btns .buy-now {
  line-height: 40px;
  width: 157px;
  font-size: 16px;
  color: #fff;
  background-color: #C62E2D;
  height: 40px;
  text-align: center;
  border: 1px solid #C62E2D;
}
/* line 582, ../sass/liebiao.scss */
.container2 .bottom {
  margin-top: 100px;
}
/* line 584, ../sass/liebiao.scss */
.container2 .bottom .bottom-left {
  display: inline-block;
  width: 184px;
  margin-right: 16px;
  background-color: #f7f7f7;
  min-height: 0px;
}
/* line 590, ../sass/liebiao.scss */
.container2 .bottom .bottom-left h1 {
  padding-left: 15px;
  height: 40px;
  line-height: 40px;
  color: #1E1E1E;
  font-weight: bold;
  font-size: 16px;
  background: #ddd;
  border: 1px solid #ddd;
}
/* line 600, ../sass/liebiao.scss */
.container2 .bottom .bottom-left ul {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #ddd;
  width: 100%;
}
/* line 605, ../sass/liebiao.scss */
.container2 .bottom .bottom-left ul li {
  padding: 8px 0;
  width: 100%;
  text-align: center;
}
/* line 609, ../sass/liebiao.scss */
.container2 .bottom .bottom-left ul li a {
  width: 152px;
  display: block;
  text-align: left;
  margin: 0 auto;
}
/* line 614, ../sass/liebiao.scss */
.container2 .bottom .bottom-left ul li a img {
  height: 100px;
  width: 65px;
  margin: 0 auto;
  display: block;
}
/* line 620, ../sass/liebiao.scss */
.container2 .bottom .bottom-left ul li a h2 {
  margin: 12px 0 0;
  height: 32px;
  font-size: 12px;
  line-height: 16px;
  color: #1E1E1E;
  font-weight: 400;
  text-overflow: ellipsis;
}
/* line 629, ../sass/liebiao.scss */
.container2 .bottom .bottom-left ul li a p {
  margin: 10px 0 0;
  height: 22px;
  line-height: 22px;
  color: #C62E2D;
  font-size: 14px;
}
/* line 640, ../sass/liebiao.scss */
.container2 .bottom .bottom-right {
  width: 984px;
  display: inline-block;
  vertical-align: top;
}
/* line 645, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-nav ul {
  background-color: #edeae9;
}
/* line 647, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-nav ul li {
  margin-right: 15px;
  display: inline-block;
}
/* line 650, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-nav ul li a {
  color: #24344e;
  display: block;
  font-size: 14px;
  padding: 12px 16px;
}
/* line 657, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-nav ul .active {
  background: #C62E2D;
}
/* line 659, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-nav ul .active a {
  color: white;
}
/* line 663, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-nav ul .add-cart {
  float: right;
  margin-right: 20px;
  line-height: 42px;
}
/* line 667, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-nav ul .add-cart button {
  color: #fff;
  text-align: center;
  border: 1px solid transparent;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 14px;
  background: #C62E2D;
}
/* line 680, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content {
  border: 1px solid #dfdfdf;
  display: none;
}
/* line 683, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .spu-info {
  padding: 12px 40px;
  background-color: #fff;
}
/* line 687, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .spu-info ul li {
  display: inline-block;
  box-sizing: border-box;
  width: 24%;
  color: #999;
  margin: 5px 0;
  padding-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 698, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .spu-info ul li .attr-label {
  display: inline-block;
  width: 102px;
  text-align: right;
  color: #999;
}
/* line 704, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .spu-info ul li .attr-val {
  color: #5B5B5B;
}
/* line 708, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .spu-info ul li a .attr-label {
  color: #1890FF;
}
/* line 715, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .detail-floors {
  display: inline-block;
  width: 780px;
  padding: 20px;
  background: #fff;
}
/* line 722, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .detail-floors .floor .floor-title h2 {
  font-size: 1.5em;
  margin: .83em 0;
}
/* line 726, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .detail-floors .floor .floor-title .title-bottom {
  background: #C62E2D;
  height: 3px;
  width: 50px;
}
/* line 732, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .detail-floors .floor .floor-value {
  margin: 15px 20px;
  font-family: STHeitiSC-Light, "Hiragino Sans GB", SimSun, "WenQuanYi Micro Hei", "Helvetica Neue", Arial, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #666;
}
/* line 738, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .detail-floors .floor .floor-value p {
  margin: 18px 0 0;
}
/* line 743, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .detail-floors .close {
  background: #eee;
}
/* line 745, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .detail-floors .close .floor-value {
  height: 720px;
  overflow: hidden;
  transition: all 2s;
}
/* line 749, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .detail-floors .close .floor-value p {
  margin: 18px 0 0;
}
/* line 754, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .detail-floors .close .more a {
  color: #1890FF;
  text-decoration: none;
  cursor: pointer;
}
/* line 760, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .detail-floors .close .less {
  display: none;
}
/* line 762, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .detail-floors .close .less a {
  color: #1890FF;
  text-decoration: none;
  cursor: pointer;
}
/* line 770, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .attribute-list {
  padding: 20px !important;
}
/* line 772, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .attribute-list .attribute-tab {
  border: 1px solid #ddd;
  width: 100%;
  border-collapse: collapse;
}
/* line 776, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .attribute-list .attribute-tab .attribute-title {
  border-top: 1px solid #dfdfdf;
  background-color: #F5F5F5;
  padding: 0 10px;
  border-bottom: none;
  text-align: center;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
}
/* line 786, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .attribute-list .attribute-tab td {
  padding: 0 10px;
  text-align: left;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
/* line 792, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .attribute-list .attribute-tab .main-parameter {
  height: 40px;
  width: 190px;
}
/* line 798, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .policy-content {
  padding: 10px !important;
  border-top: none;
}
/* line 802, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .policy-content p {
  margin: 1em 0;
}
/* line 806, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .comments-content {
  padding: 21px;
  border-top: none;
}
/* line 809, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .comments-content .common-empty-component-content {
  padding: 20px 0;
  width: 100%;
  text-align: center;
}
/* line 813, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .comments-content .common-empty-component-content .icon-empty-comment {
  background-image: url(../img/item-detail-page/sprite-b6178f.png);
  background-position: 0 -129px;
  width: 80px;
  height: 79px;
  margin: 0 auto;
}
/* line 820, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .tap-content .comments-content .common-empty-component-content .empty-tip {
  margin-top: 34px;
  font-size: 14px;
}
/* line 827, ../sass/liebiao.scss */
.container2 .bottom .bottom-right .tap-contents .active3 {
  display: block;
}

/* line 835, ../sass/liebiao.scss */
footer {
  height: 605px;
  display: block;
  margin-top: 60px;
  background: #dfdfdf;
}
/* line 840, ../sass/liebiao.scss */
footer .foot {
  height: 100%;
}
/* line 842, ../sass/liebiao.scss */
footer .foot .foot-top {
  height: 102px;
  border-bottom: 1px solid #666;
}
/* line 845, ../sass/liebiao.scss */
footer .foot .foot-top ul {
  width: 1200px;
  height: 100%;
  vertical-align: middle;
  margin: 0 auto;
}
/* line 848, ../sass/liebiao.scss */
footer .foot .foot-top ul li {
  width: 300px;
  height: 100%;
  float: left;
  color: #666;
  font: bold 20px/102px 瀹嬩綋;
  text-align: center;
}
/* line 858, ../sass/liebiao.scss */
footer .foot .foot-middle {
  height: 186px;
  border-bottom: 1px solid #666;
}
/* line 861, ../sass/liebiao.scss */
footer .foot .foot-middle ul {
  width: 1200px;
  height: 100%;
  vertical-align: middle;
  margin: 0 auto;
}
/* line 864, ../sass/liebiao.scss */
footer .foot .foot-middle ul li {
  box-sizing: border-box;
  padding-top: 20px;
  float: left;
  width: 300px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
/* line 870, ../sass/liebiao.scss */
footer .foot .foot-middle ul li span {
  font: bold 1em/20px 瀹嬩綋;
  color: #666;
}
/* line 874, ../sass/liebiao.scss */
footer .foot .foot-middle ul li a {
  font: 13px/16px 瀹嬩綋;
  display: block;
  margin: 10px;
  text-align: center;
  color: #999;
}
/* line 880, ../sass/liebiao.scss */
footer .foot .foot-middle ul li a:hover {
  color: #C62E2D;
}

/* line 890, ../sass/liebiao.scss */
.foot-bottom {
  padding-top: 40px;
  width: 1200px;
  margin: 0 auto;
}
/* line 895, ../sass/liebiao.scss */
.foot-bottom ul li {
  height: 20px;
  margin-bottom: 10px;
  width: 100%;
  font: 14px/20px Arial;
  text-decoration: none;
  text-align: center;
}
/* line 902, ../sass/liebiao.scss */
.foot-bottom ul li a {
  text-decoration: none;
  color: #999;
}
/* line 905, ../sass/liebiao.scss */
.foot-bottom ul li a:hover {
  color: #C62E2D;
}
/* line 909, ../sass/liebiao.scss */
.foot-bottom ul li span {
  color: #999;
  margin-left: 20px;
}

/* line 917, ../sass/liebiao.scss */
header {
  background: rgba(238, 238, 238, 0.438);
  border-bottom: 1px solid #ddd;
}

/* line 922, ../sass/liebiao.scss */
.top-nav {
  width: 1200px;
  margin: 0 auto;
  height: 31px;
}
/* line 926, ../sass/liebiao.scss */
.top-nav .nav-left {
  float: left;
  height: 100%;
}
/* line 929, ../sass/liebiao.scss */
.top-nav .nav-left span {
  color: #666;
  font: 14px/31px Arial;
}
/* line 933, ../sass/liebiao.scss */
.top-nav .nav-left a {
  text-decoration: none;
  color: blue;
  font: 14px/31px Arial;
  margin-left: 10px;
}
/* line 940, ../sass/liebiao.scss */
.top-nav .nav-right {
  float: right;
}
/* line 944, ../sass/liebiao.scss */
.top-nav .nav-right ul .hover:hover {
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
  background: white;
}
/* line 950, ../sass/liebiao.scss */
.top-nav .nav-right ul .hover:hover .hovera {
  border-right: 1px solid transparent;
}
/* line 954, ../sass/liebiao.scss */
.top-nav .nav-right ul li {
  height: 100%;
  float: left;
  margin-left: -2px;
  text-align: center;
  position: relative;
  border: 1px solid transparent;
}
/* line 961, ../sass/liebiao.scss */
.top-nav .nav-right ul li a {
  padding: 0 20px;
  border-right: 1px solid rgba(153, 153, 153, 0.685);
  text-decoration: none;
  font: 12px/31px Arial;
  color: black;
}
/* line 967, ../sass/liebiao.scss */
.top-nav .nav-right ul li a:hover {
  color: #C62E2D;
}
/* line 971, ../sass/liebiao.scss */
.top-nav .nav-right ul li:hover ul {
  display: block;
}
/* line 974, ../sass/liebiao.scss */
.top-nav .nav-right ul li .erweima {
  width: 100px;
  height: 100px;
}
/* line 977, ../sass/liebiao.scss */
.top-nav .nav-right ul li .erweima img {
  height: 100%;
}
/* line 981, ../sass/liebiao.scss */
.top-nav .nav-right ul li ul {
  background: white;
  position: absolute;
  border: 1px solid #ddd;
  border-top: none;
  display: none;
  width: 209%;
  top: 100%;
  left: -1px;
}
/* line 990, ../sass/liebiao.scss */
.top-nav .nav-right ul li ul li {
  height: 100%;
  float: left;
}
/* line 993, ../sass/liebiao.scss */
.top-nav .nav-right ul li ul li a {
  text-decoration: none;
  padding: 0 20px;
  border-right: 1px solid rgba(153, 153, 153, 0.685);
  line-height: 31px;
}
/* line 998, ../sass/liebiao.scss */
.top-nav .nav-right ul li ul li a:hover {
  color: #C62E2D;
}
/* line 1005, ../sass/liebiao.scss */
.top-nav .nav-right ul .none-border {
  border-right: none;
}

/* line 1012, ../sass/liebiao.scss */
.shopcar {
  width: 150px;
  height: 30px;
  position: absolute;
  top: 30px;
  right: 30px;
  background: #fff;
  border: 1px solid #ddd;
}
/* line 1020, ../sass/liebiao.scss */
.shopcar a {
  padding: 0 10px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  font: 16px/30px Arial;
  text-align: center;
  color: #666;
  padding-left: 40px;
}
/* line 1027, ../sass/liebiao.scss */
.shopcar a img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 5px;
  top: 4px;
}
/* line 1035, ../sass/liebiao.scss */
.shopcar a span {
  margin-right: 3px;
  font-weight: bold;
  color: #C62E2D;
  text-align: center;
}
/* line 1041, ../sass/liebiao.scss */
.shopcar a .jian-left {
  color: #999;
  font-size: 18px;
  margin-left: 5px;
}

/* line 1049, ../sass/liebiao.scss */
.cart-container {
  width: 1200px;
  margin: 0 auto;
}
/* line 1052, ../sass/liebiao.scss */
.cart-container .shopping-cart-body {
  margin-bottom: 10px;
}
/* line 1054, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .shopping-cart-title {
  margin-bottom: 16px;
  font-size: 16px;
  color: #C62E2D;
  font-weight: 400;
}
/* line 1060, ../sass/liebiao.scss */
.cart-container .shopping-cart-body table {
  background-color: transparent;
}
/* line 1063, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table {
  width: 100%;
  color: #1e1e1e;
  border-radius: 4px;
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 1069, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table thead {
  background-color: #F5F5F5;
  box-shadow: none;
  vertical-align: bottom;
}
/* line 1073, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table thead .table-tr-title {
  color: #666;
  border-width: 1px;
  background-color: #F5F5F5;
}
/* line 1077, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table thead .table-tr-title .input-checkbox {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  margin-right: 8px;
  background-color: #fff;
  position: relative;
}
/* line 1090, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table thead tr th {
  padding: 12px 0;
  border: 1px solid #ddd;
  border-width: 1px 0;
  text-align: left;
}
/* line 1095, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table thead tr th:first-child {
  padding-left: 12px;
  border-width: 1px 0 1px 1px;
  border-top-left-radius: 4px;
}
/* line 1100, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table thead tr th:last-child {
  border-width: 1px 1px 1px 0;
  border-top-left-radius: 4px;
}
/* line 1108, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr {
  border: 1px solid #ddd;
}
/* line 1110, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr td:first-child {
  border-width: 0 0 1px 1px;
}
/* line 1113, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr td:last-child {
  padding-right: 12px;
  text-align: right;
  border-width: 0 1px 1px 0;
}
/* line 1117, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr td:last-child .action-item {
  color: #1E1E1E;
}
/* line 1120, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr td:last-child .js-delete-item {
  color: #C62E2D;
  border: 1px solid #C62E2D;
  border-radius: 3px;
  padding: 3px;
  margin-bottom: 3px;
  display: inline-block;
}
/* line 1129, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr td {
  padding: 16px 0;
  color: #666;
  text-align: left;
  vertical-align: top;
  border-width: 0 0 1px;
  border-color: #ddd;
  height: 40px;
  vertical-align: middle;
  border-bottom: 1px solid #eee;
}
/* line 1139, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr td .check-td {
  padding-left: 12px;
  vertical-align: middle;
}
/* line 1144, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr .left-text {
  text-align: left !important;
}
/* line 1146, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr .left-text .item-logo {
  float: left;
  width: 80px;
  height: 80px;
  border: 1px solid #ddd;
  background-color: #fff;
}
/* line 1152, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr .left-text .item-logo a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #666;
}
/* line 1158, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr .left-text .item-logo a img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
/* line 1165, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr .left-text .shop-cart-name {
  text-align: left;
  border: 0;
}
/* line 1168, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr .left-text .shop-cart-name .item-description {
  width: 410px;
}
/* line 1170, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr .left-text .shop-cart-name .item-description .item-desc-name {
  color: #666;
  font-size: 12px;
}
/* line 1173, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr .left-text .shop-cart-name .item-description .item-desc-name a {
  color: #666;
}
/* line 1177, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr .left-text .shop-cart-name .item-description .cutwords-two-line {
  overflow: hidden;
}
/* line 1180, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr .left-text .shop-cart-name .item-description .sku-attrs {
  margin: 0;
  color: #666;
  font-size: 12px;
}
/* line 1185, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr .left-text .shop-cart-name .item-description .cutwords {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
/* line 1194, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr .css-price {
  font-size: 12px;
  font-weight: 400;
}
/* line 1198, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr .group-small {
  width: 82px;
  height: 26px;
  border-radius: 0;
  border: 1px solid #ccc;
}
/* line 1203, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr .group-small:hover {
  border: 1px solid #C62E2D;
}
/* line 1206, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr .group-small a {
  display: inline-block;
  width: 20px;
  color: #999;
  text-align: center;
  font-size: 16px;
  margin-top: 0;
  height: 26px;
  line-height: 22px;
  vertical-align: top;
  box-sizing: border-box;
}
/* line 1217, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr .group-small a .disabled {
  background-color: #F5F5F5;
}
/* line 1221, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr .group-small .plus {
  margin-left: -5px;
}
/* line 1224, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr .group-small input {
  margin-top: 0;
  height: 26px;
  line-height: 22px;
  vertical-align: top;
  width: 44px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 0;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  margin-left: -5px;
  padding: 0 10px;
  font-size: 12px;
}
/* line 1241, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody tr .item-subtotal-price {
  color: #C62E2D;
  font-size: 12px;
  font-weight: 400;
}
/* line 1248, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr td {
  padding-top: 22px;
  padding-bottom: 12px;
}
/* line 1252, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr td:first-child {
  border-left: 1px solid transparent;
}
/* line 1255, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr .check-td {
  padding-left: 12px;
  vertical-align: middle;
}
/* line 1259, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr .left-text {
  padding-right: 12px;
  border-right: 1px solid transparent;
  border-width: 0 1px 1px 0;
}
/* line 1263, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr .left-text .shop-name-link {
  margin-right: 6px;
  color: #1E1E1E;
  vertical-align: middle;
}
/* line 1268, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr .left-text .dropdown {
  vertical-align: middle;
  zoom: 1;
  position: relative;
  display: inline-block;
}
/* line 1273, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr .left-text .dropdown:hover .dropdown-content {
  display: block;
}
/* line 1276, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr .left-text .dropdown .dropdown-selector {
  line-height: 1;
}
/* line 1278, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr .left-text .dropdown .dropdown-selector .shop-coupon-tag {
  display: inline-block;
  padding: 0 10px;
  height: 20px;
  line-height: 18px;
  color: #C62E2D;
  vertical-align: text-bottom;
  border: 1px solid #C62E2D;
}
/* line 1288, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr .left-text .dropdown .dropdown-content {
  position: absolute;
  top: 19px;
  left: 0;
  z-index: 2;
  display: none;
}
/* line 1294, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr .left-text .dropdown .dropdown-content .shop-coupon-list {
  padding: 0 12px;
  width: 400px;
  max-height: 286px;
  overflow-y: auto;
  border: 1px solid #C62E2D;
  background-color: #fff;
}
/* line 1301, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr .left-text .dropdown .dropdown-content .shop-coupon-list .shop-coupon-item {
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}
/* line 1304, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr .left-text .dropdown .dropdown-content .shop-coupon-list .shop-coupon-item:last-child {
  border-bottom: none;
}
/* line 1307, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr .left-text .dropdown .dropdown-content .shop-coupon-list .shop-coupon-item .column-line {
  display: inline-block;
  vertical-align: middle;
}
/* line 1311, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr .left-text .dropdown .dropdown-content .shop-coupon-list .shop-coupon-item .coupon-item-discount {
  padding: 0 6px;
  width: 35%;
  color: #C62E2D;
}
/* line 1315, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr .left-text .dropdown .dropdown-content .shop-coupon-list .shop-coupon-item .coupon-item-discount .tailing-text {
  font-size: 14px;
  font-weight: 400;
  vertical-align: top;
}
/* line 1320, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr .left-text .dropdown .dropdown-content .shop-coupon-list .shop-coupon-item .coupon-item-discount .number-text {
  font-size: 24px;
  vertical-align: middle;
}
/* line 1325, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr .left-text .dropdown .dropdown-content .shop-coupon-list .shop-coupon-item .coupon-item-info {
  width: 45%;
}
/* line 1327, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr .left-text .dropdown .dropdown-content .shop-coupon-list .shop-coupon-item .coupon-item-info .coupon-item-name {
  margin: 0;
  color: #1E1E1E;
}
/* line 1331, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr .left-text .dropdown .dropdown-content .shop-coupon-list .shop-coupon-item .coupon-item-info .cutwords {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
/* line 1337, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr .left-text .dropdown .dropdown-content .shop-coupon-list .shop-coupon-item .coupon-item-info .coupon-item-desc {
  margin: 4px 0 0;
  font-size: 12px;
  color: #999;
}
/* line 1342, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr .left-text .dropdown .dropdown-content .shop-coupon-list .shop-coupon-item .coupon-item-info .coupon-item-date {
  margin: 4px 0 0;
  font-size: 12px;
  color: #999;
}
/* line 1348, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr .left-text .dropdown .dropdown-content .shop-coupon-list .shop-coupon-item .coupon-item-action {
  width: 12%;
  text-align: right;
}
/* line 1351, ../sass/liebiao.scss */
.cart-container .shopping-cart-body .table tbody .shop-tr .left-text .dropdown .dropdown-content .shop-coupon-list .shop-coupon-item .coupon-item-action button {
  padding: 0;
  width: 46px;
  height: 24px;
  color: #C62E2D;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  border-radius: 0;
  border-color: #C62E2D;
  background-color: #fff;
}
/* line 1373, ../sass/liebiao.scss */
.cart-container .foot-container {
  width: 100%;
  background: #eee;
  height: 60px;
  border: 1px solid #ddd;
}
/* line 1378, ../sass/liebiao.scss */
.cart-container .foot-container .foot-left {
  float: left;
  height: 100%;
}
/* line 1381, ../sass/liebiao.scss */
.cart-container .foot-container .foot-left label {
  display: inline-block;
  margin-right: 2px;
  vertical-align: middle;
  color: #1E1E1E;
}
/* line 1386, ../sass/liebiao.scss */
.cart-container .foot-container .foot-left label input {
  height: 16px;
  width: 16px;
  border-radius: 2px;
  margin-right: 8px;
  background-color: #fff;
  position: relative;
  vertical-align: top;
}
/* line 1395, ../sass/liebiao.scss */
.cart-container .foot-container .foot-left label span {
  margin-left: 5px;
  vertical-align: middle;
}
/* line 1400, ../sass/liebiao.scss */
.cart-container .foot-container .foot-left .delete-batch, .cart-container .foot-container .foot-left .collect-batch {
  vertical-align: middle;
  margin-left: 10px;
  color: #C62E2D;
  line-height: 60px;
}
/* line 1406, ../sass/liebiao.scss */
.cart-container .foot-container .foot-left .collect-batch {
  color: #1E1E1E;
}
/* line 1411, ../sass/liebiao.scss */
.cart-container .foot-container .foot-right {
  float: right;
  height: 100%;
}
/* line 1414, ../sass/liebiao.scss */
.cart-container .foot-container .foot-right .total-item {
  color: #1E1E1E;
}
/* line 1416, ../sass/liebiao.scss */
.cart-container .foot-container .foot-right .total-item span {
  color: #C62E2D;
  padding: 0 5px;
  font-size: 16px;
}
/* line 1422, ../sass/liebiao.scss */
.cart-container .foot-container .foot-right .total-price-info {
  display: inline-block;
  vertical-align: middle;
}
/* line 1425, ../sass/liebiao.scss */
.cart-container .foot-container .foot-right .total-price-info .total-price {
  margin: 0px 15px 10px 15px;
}
/* line 1427, ../sass/liebiao.scss */
.cart-container .foot-container .foot-right .total-price-info .total-price .price-label {
  color: #1E1E1E;
  margin-right: 4px;
}
/* line 1432, ../sass/liebiao.scss */
.cart-container .foot-container .foot-right .total-price-info .total-price .price-text span {
  color: #C62E2D;
  font-size: 16px;
  font-weight: bold;
  margin-right: 4px;
}
/* line 1440, ../sass/liebiao.scss */
.cart-container .foot-container .foot-right .total-price-info .discount-price {
  margin: 0px 15px 0 15px;
}
/* line 1446, ../sass/liebiao.scss */
.cart-container .foot-container .foot-right .total-price-info .discount-price .price-text span {
  color: #C62E2D;
  margin-right: 5px;
}
/* line 1453, ../sass/liebiao.scss */
.cart-container .foot-container .foot-right .submit-btn {
  display: inline-block;
  height: 100%;
}
/* line 1456, ../sass/liebiao.scss */
.cart-container .foot-container .foot-right .submit-btn button {
  width: 140px;
  height: 100%;
  font-size: 16px;
  border: none;
  text-align: center;
  line-height: 60px;
  color: #fff;
  background-color: #835a5a;
}
/* line 1467, ../sass/liebiao.scss */
.cart-container .foot-container .foot-right .submit-btn .buttons {
  background-color: #C62E2D;
}

/* line 1476, ../sass/liebiao.scss */
.container2 .current-location-dark {
  padding: 12px 0 10px;
  font-size: 12px;
  line-height: 24px;
  z-index: 500;
}
/* line 1481, ../sass/liebiao.scss */
.container2 .current-location-dark .items-total {
  line-height: 24px;
  float: right;
}
/* line 1485, ../sass/liebiao.scss */
.container2 .current-location-dark .current-location-span {
  color: #999;
}
/* line 1487, ../sass/liebiao.scss */
.container2 .current-location-dark .current-location-span .bread-category-selector {
  cursor: default;
}
/* line 1490, ../sass/liebiao.scss */
.container2 .current-location-dark .current-location-span .icon-feebas-next {
  vertical-align: top;
}
/* line 1492, ../sass/liebiao.scss */
.container2 .current-location-dark .current-location-span .icon-feebas-next:before {
  content: "\e628";
}
/* line 1496, ../sass/liebiao.scss */
.container2 .current-location-dark .current-location-span .icon-feebas {
  font-family: "icon-feebas" !important;
  font-size: 16px;
  font-style: normal;
}
/* line 1501, ../sass/liebiao.scss */
.container2 .current-location-dark .current-location-span .bread-selector-box {
  position: relative;
}
/* line 1502, ../sass/liebiao.scss */
.container2 .current-location-dark .current-location-span .bread-selector-box:hover .bread-selector-more {
  display: block;
}
/* line 1505, ../sass/liebiao.scss */
.container2 .current-location-dark .current-location-span .bread-selector-box:hover .label {
  border: 1px solid #979797;
  border-bottom: none;
}
/* line 1510, ../sass/liebiao.scss */
.container2 .current-location-dark .current-location-span .bread-selector-box .label {
  display: inline-block;
  height: 24px;
  z-index: 499;
  background: white;
  border: 1px solid #DFDFDF;
  line-height: 24px;
  padding: 0 16px;
  color: #5B5B5B;
  cursor: default;
  position: relative;
}
/* line 1521, ../sass/liebiao.scss */
.container2 .current-location-dark .current-location-span .bread-selector-box .label i {
  transform: rotate(90deg);
  vertical-align: top;
  font-family: "icon-feebas" !important;
  font-size: 16px;
  font-style: normal;
  transform: rotateZ(90deg);
}
/* line 1534, ../sass/liebiao.scss */
.container2 .current-location-dark .current-location-span .bread-selector-box .bread-selector-more {
  z-index: 498;
  display: none;
  height: auto;
  width: 260px;
  position: absolute;
  left: -97px;
  top: 18px;
  padding: 10px 16px 4px;
  color: #5B5B5B;
  border: 1px solid #979797;
  background: #fff;
}
/* line 1547, ../sass/liebiao.scss */
.container2 .current-location-dark .current-location-span .bread-selector-box .bread-selector-more ul li {
  float: left;
  width: 66px;
  margin: 0 12px 2px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}
/* line 1555, ../sass/liebiao.scss */
.container2 .current-location-dark .current-location-span .bread-selector-box .bread-selector-more ul li:first-child {
  color: #C62E2D;
}
/* line 1558, ../sass/liebiao.scss */
.container2 .current-location-dark .current-location-span .bread-selector-box .bread-selector-more ul li:nth-child(3n) {
  margin-right: 0;
}
/* line 1561, ../sass/liebiao.scss */
.container2 .current-location-dark .current-location-span .bread-selector-box .bread-selector-more ul li:hover {
  color: #C62E2D;
}
/* line 1570, ../sass/liebiao.scss */
.container2 .search-attrs {
  width: 100%;
}
/* line 1572, ../sass/liebiao.scss */
.container2 .search-attrs table {
  width: 100%;
}
/* line 1575, ../sass/liebiao.scss */
.container2 .search-attrs table tbody tr {
  background: #fff;
  border: 1px solid #dfdfdf;
  border-top: none;
  padding: 0;
}
/* line 1576, ../sass/liebiao.scss */
.container2 .search-attrs table tbody tr:first-child {
  border-top: 1px solid #dfdfdf;
}
/* line 1583, ../sass/liebiao.scss */
.container2 .search-attrs table tbody tr th {
  width: 120px;
  padding: 8px 10px 8px 16px;
  background-color: #fff;
  line-height: 18px;
  vertical-align: top;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999;
}
/* line 1596, ../sass/liebiao.scss */
.container2 .search-attrs table tbody tr td {
  margin: 0;
  padding: 6px 10px;
  line-height: 26px;
  text-align: left;
  color: #999;
  box-sizing: border-box;
}
/* line 1603, ../sass/liebiao.scss */
.container2 .search-attrs table tbody tr td a {
  color: #999;
}
/* line 1605, ../sass/liebiao.scss */
.container2 .search-attrs table tbody tr td a:hover {
  color: #C62E2D;
}
/* line 1612, ../sass/liebiao.scss */
.container2 .search-attrs table tbody .time-author td {
  width: 160px;
}
/* line 1619, ../sass/liebiao.scss */
.container2 .shop-search-items-img-type {
  padding-top: 16px;
  width: 100%;
  height: 1200px;
}
/* line 1623, ../sass/liebiao.scss */
.container2 .shop-search-items-img-type .product {
  width: 184px;
  height: 310px;
  padding: 11px;
  margin: 0 16px 16px 0;
  border: 1px solid #fff;
  background: #fff;
  position: relative;
  float: left;
  box-sizing: border-box;
}
/* line 1633, ../sass/liebiao.scss */
.container2 .shop-search-items-img-type .product a {
  color: #1E1E1E;
}
/* line 1636, ../sass/liebiao.scss */
.container2 .shop-search-items-img-type .product .product-image {
  width: 160px;
  height: 160px;
  text-align: center;
  line-height: 160px;
  position: relative;
  overflow: hidden;
}
/* line 1644, ../sass/liebiao.scss */
.container2 .shop-search-items-img-type .product .product-image a img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
/* line 1651, ../sass/liebiao.scss */
.container2 .shop-search-items-img-type .product .product-desc {
  color: #5B5B5B;
  line-height: 17px;
  max-height: 34px;
  font-size: 12px;
  overflow: hidden;
  word-break: break-all;
  margin: 12px 0 0;
}
/* line 1660, ../sass/liebiao.scss */
.container2 .shop-search-items-img-type .product .product-author {
  font-size: 12px;
  color: #666;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 4px 0 10px;
  height: 18px;
}
/* line 1670, ../sass/liebiao.scss */
.container2 .shop-search-items-img-type .product .product-price {
  height: 14px;
  margin: 0;
  font-size: 14px;
  color: #D10000;
  line-height: 14px;
  font-weight: 400;
}
/* line 1680, ../sass/liebiao.scss */
.container2 .shop-search-filter {
  background: #fff;
  border: none;
  margin-top: 0;
  width: 100%;
  height: 64px;
  margin-top: 20px;
}
/* line 1687, ../sass/liebiao.scss */
.container2 .shop-search-filter .filter-banner {
  vertical-align: top;
  height: 32px;
  display: inline-block;
  background: #fff;
}
/* line 1692, ../sass/liebiao.scss */
.container2 .shop-search-filter .filter-banner .js-item-sort {
  padding: 0 10px;
  display: inline-block;
  line-height: 32px;
  vertical-align: top;
  border: none;
  cursor: pointer;
}
/* line 1699, ../sass/liebiao.scss */
.container2 .shop-search-filter .filter-banner .js-item-sort img {
  width: 10px;
  height: 10px;
}
/* line 1703, ../sass/liebiao.scss */
.container2 .shop-search-filter .filter-banner .js-item-sort:first-child {
  border-left: none;
}
/* line 1707, ../sass/liebiao.scss */
.container2 .shop-search-filter .filter-banner .active {
  background: #C62E2D;
  color: #fff;
  border-color: #dfdfdf;
}
/* line 1713, ../sass/liebiao.scss */
.container2 .shop-search-filter .filter-form {
  display: inline-block;
  padding-left: 10px;
  height: 32px;
}
/* line 1717, ../sass/liebiao.scss */
.container2 .shop-search-filter .filter-form fieldset {
  padding: 4px 0;
}
/* line 1719, ../sass/liebiao.scss */
.container2 .shop-search-filter .filter-form fieldset .input-group {
  display: inline-block;
  vertical-align: top;
}
/* line 1722, ../sass/liebiao.scss */
.container2 .shop-search-filter .filter-form fieldset .input-group .input-group-addon {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  height: 24px;
  line-height: 10px;
  border-radius: 0;
  padding: 7px 10px;
  text-align: center;
  border: 1px solid #ddd;
  border-right: 0;
  background-color: #fff;
  font-size: 12px;
  box-sizing: border-box;
}
/* line 1739, ../sass/liebiao.scss */
.container2 .shop-search-filter .filter-form fieldset .input-group input {
  border-radius: 0;
  height: 24px;
  width: 60px;
  padding: 0 10px;
  display: inline-block;
  margin-left: -3px;
  border: 1px solid #ddd;
}
/* line 1749, ../sass/liebiao.scss */
.container2 .shop-search-filter .filter-form fieldset .line {
  line-height: 22px;
  vertical-align: top;
  font-size: 12px;
}
/* line 1754, ../sass/liebiao.scss */
.container2 .shop-search-filter .filter-form fieldset .btn {
  vertical-align: top;
  height: 24px;
  line-height: 0;
  border-radius: 0;
  text-align: center;
  margin-left: 2px;
  color: #fff;
  border-color: transparent;
  background-color: #C62E2D;
}
/* line 1767, ../sass/liebiao.scss */
.container2 .shop-search-filter .displayChange {
  float: right;
  height: 32px;
  box-sizing: border-box;
}
/* line 1771, ../sass/liebiao.scss */
.container2 .shop-search-filter .displayChange .js-list-display {
  height: 32px;
  background: #F5F5F5;
  padding: 0 7px;
  display: inline-block;
  line-height: 32px;
  vertical-align: middle;
  width: 62px;
  color: #666;
  border: 1px solid #DDD;
  box-sizing: border-box;
  cursor: pointer;
}
/* line 1783, ../sass/liebiao.scss */
.container2 .shop-search-filter .displayChange .js-list-display .active {
  background: #fff;
  color: #C62E2D;
}
/* line 1787, ../sass/liebiao.scss */
.container2 .shop-search-filter .displayChange .js-list-display img {
  width: 14px;
  height: 14px;
}
/* line 1794, ../sass/liebiao.scss */
.container2 .shop-search-filter .filter-footer {
  width: 100%;
  height: 32px;
  float: left;
  padding-top: 4px;
}
/* line 1799, ../sass/liebiao.scss */
.container2 .shop-search-filter .filter-footer .filter-footer-left {
  margin: 15px 40px 0 10px;
}
/* line 1801, ../sass/liebiao.scss */
.container2 .shop-search-filter .filter-footer .filter-footer-left input {
  vertical-align: middle;
  border: 1 solid #DDD;
  margin-right: 8px;
}
/* line 1806, ../sass/liebiao.scss */
.container2 .shop-search-filter .filter-footer .filter-footer-left .label {
  color: #5B5B5B;
}
/* line 1810, ../sass/liebiao.scss */
.container2 .shop-search-filter .filter-footer .filter-footer-right {
  display: inline-block;
  margin-left: 8px;
}
/* line 1813, ../sass/liebiao.scss */
.container2 .shop-search-filter .filter-footer .filter-footer-right .right-div {
  margin-right: 8px;
  display: inline-block;
  vertical-align: bottom;
}
/* line 1817, ../sass/liebiao.scss */
.container2 .shop-search-filter .filter-footer .filter-footer-right .right-div input {
  width: 100px !important;
  border-radius: 0;
  height: 24px;
  padding: 0 10px;
  border: 1px solid #ddd;
  font-size: 12px;
  line-height: 24px;
}
/* line 1827, ../sass/liebiao.scss */
.container2 .shop-search-filter .filter-footer .filter-footer-right .btn {
  width: 56px;
  padding: 0;
  height: 24px;
  line-height: 22px;
  border: 1px solid #DDD;
  background: #F9F9FB;
  color: #666;
  font-size: 12px;
  border-radius: 0;
}
