@charset "UTF-8";
/* line 1, ../sass/zhuce.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/zhuce.scss */
nav {
  height: 30px;
  background-color: transparent;
  border-bottom: 1px solid #eee;
  font-size: 12px;
  text-decoration: none;
  line-height: 30px;
}
/* line 13, ../sass/zhuce.scss */
nav .navbar {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
/* line 17, ../sass/zhuce.scss */
nav .navbar .navbar-left {
  height: 100%;
  float: left;
}
/* line 20, ../sass/zhuce.scss */
nav .navbar .navbar-left a {
  color: blue;
  text-decoration: none;
}
/* line 25, ../sass/zhuce.scss */
nav .navbar .navbar-right {
  float: right;
  height: 100%;
}
/* line 28, ../sass/zhuce.scss */
nav .navbar .navbar-right ul {
  list-style: none;
  height: 100%;
}
/* line 31, ../sass/zhuce.scss */
nav .navbar .navbar-right ul li {
  float: left;
  height: 100%;
  width: 60px;
  text-align: center;
}
/* line 33, ../sass/zhuce.scss */
nav .navbar .navbar-right ul li a {
  text-decoration: none;
  color: blue;
}

/* line 47, ../sass/zhuce.scss */
.logo {
  margin: 30px auto;
  width: 1200px;
  line-height: 80px;
  height: 80px;
}
/* line 52, ../sass/zhuce.scss */
.logo img {
  height: 60px;
}
/* line 55, ../sass/zhuce.scss */
.logo span {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  color: #666;
  margin-left: 34px;
  font-size: 16px;
  height: 100%;
  line-height: 80px;
  font-weight: bold;
}

/* line 68, ../sass/zhuce.scss */
.forms {
  background-image: url(../img/login/timg.gif);
  background-size: cover;
  width: 1200px;
  border: 1px solid #ddd;
  margin: 0 auto;
  background-color: #fff;
}
/* line 75, ../sass/zhuce.scss */
.forms form {
  background: rgba(102, 102, 102, 0.5);
  width: 500px;
  margin: 50px auto;
}
/* line 80, ../sass/zhuce.scss */
.forms form fieldset {
  border: 0;
  padding: 12px 0;
}
/* line 84, ../sass/zhuce.scss */
.forms form .control-group {
  padding: 40px;
  width: 420px;
  padding-top: 0;
  text-align: right;
  position: relative;
  height: 50px;
}
/* line 91, ../sass/zhuce.scss */
.forms form .control-group #confirm {
  line-height: 40px;
  display: inline-block;
  vertical-align: middle;
}
/* line 96, ../sass/zhuce.scss */
.forms form .control-group #confirm-password {
  display: inline-block;
}
/* line 99, ../sass/zhuce.scss */
.forms form .control-group #verification-code {
  width: 170px;
  height: 40px;
  box-sizing: border-box;
}
/* line 104, ../sass/zhuce.scss */
.forms form .control-group .get-code {
  height: 40px;
  vertical-align: top;
  width: 110px;
  text-align: center;
  background-color: #fff;
  color: #666;
  float: right;
  border: 1px solid #ddd;
  font-size: 16px;
  box-sizing: border-box;
  background: #ddd;
}
/* line 116, ../sass/zhuce.scss */
.forms form .control-group .get-code:hover {
  background: #C62E2D;
  color: white;
  font-weight: bold;
}
/* line 122, ../sass/zhuce.scss */
.forms form .control-group #verify-code {
  width: 170px;
  height: 40px;
  margin-right: 110px;
  box-sizing: border-box;
}
/* line 128, ../sass/zhuce.scss */
.forms form .control-group img {
  top: 0px;
  right: 40px;
  width: 110px;
  height: 40px;
  border: 1px solid #ddd;
  border-left: 0;
  position: absolute;
  box-sizing: border-box;
}
/* line 138, ../sass/zhuce.scss */
.forms form .control-group label {
  text-align: right;
  display: inline-block;
  margin-right: 15px;
}
/* line 143, ../sass/zhuce.scss */
.forms form .control-group label .required {
  color: red;
  display: inline;
}
/* line 148, ../sass/zhuce.scss */
.forms form .control-group input {
  width: 280px;
  height: 40px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}
/* line 156, ../sass/zhuce.scss */
.forms form .error1 {
  font: 12px;
  color: #C62E2D;
  display: block;
  width: 280px;
  float: right;
  text-align: left;
  display: none;
}
/* line 165, ../sass/zhuce.scss */
.forms form .shezhi {
  padding-bottom: 0px;
  height: 40px;
}
/* line 169, ../sass/zhuce.scss */
.forms form .setpassword-group {
  margin-bottom: 30px;
  text-align: right;
  width: 100%;
  padding: 0 40px 0 40px;
  box-sizing: border-box;
}
/* line 175, ../sass/zhuce.scss */
.forms form .setpassword-group ul {
  height: 100%;
  width: 280px;
  display: inline-block;
}
/* line 181, ../sass/zhuce.scss */
.forms form li {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  list-style: none;
  width: 90px;
  text-align: center;
  background: #ddd;
  font-size: 12px;
  height: 100%;
  line-height: 19px;
}
/* line 192, ../sass/zhuce.scss */
.forms form li:hover {
  background: #999;
  color: white;
}
/* line 197, ../sass/zhuce.scss */
.forms form .active {
  background: #C62E2D;
  color: #fff;
}
/* line 202, ../sass/zhuce.scss */
.forms .controls {
  margin-left: 140px;
  margin-bottom: 16px;
}
/* line 205, ../sass/zhuce.scss */
.forms .controls a {
  text-decoration: none;
}
/* line 209, ../sass/zhuce.scss */
.forms .btn-large {
  padding: 11px 14px;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  border-color: transparent;
  background-color: #C62E2D;
}

/* line 219, ../sass/zhuce.scss */
.login-title {
  margin: 0 auto;
  padding: 20px 0;
  width: 1200px;
  height: 70px;
}
/* line 224, ../sass/zhuce.scss */
.login-title a {
  display: inline-block;
  height: 70px;
}
/* line 227, ../sass/zhuce.scss */
.login-title a img {
  height: 100%;
}
/* line 231, ../sass/zhuce.scss */
.login-title span {
  display: inline-block;
  height: 70px;
  color: #666;
  font: 20px/70px Arial;
  vertical-align: top;
  margin-left: 34px;
}

/* line 241, ../sass/zhuce.scss */
.back-text {
  position: absolute;
  left: 300px;
  top: 200px;
  width: 600px;
  height: 300px;
}
/* line 247, ../sass/zhuce.scss */
.back-text img {
  width: 100%;
  height: 100%;
}

/* line 253, ../sass/zhuce.scss */
.login-outer {
  max-width: 1200px;
  margin: 50px auto;
  padding: 10px 40px;
  text-align: right;
  height: 500px;
}
/* line 259, ../sass/zhuce.scss */
.login-outer .login-container {
  background: white;
  display: inline-block;
  box-shadow: 0 5px 23px 0 rgba(0, 0, 0, 0.1);
  width: 384px;
}
/* line 264, ../sass/zhuce.scss */
.login-outer .login-container .login-nav {
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #ddd;
  padding: 0 48px;
  box-sizing: border-box;
  position: relative;
}
/* line 271, ../sass/zhuce.scss */
.login-outer .login-container .login-nav .nav {
  width: 100%;
  height: 100%;
  list-style: none;
}
/* line 275, ../sass/zhuce.scss */
.login-outer .login-container .login-nav .nav .active {
  border-bottom: 2px solid #C62E2D;
  color: #C62E2D;
}
/* line 279, ../sass/zhuce.scss */
.login-outer .login-container .login-nav .nav li {
  height: 64px;
  width: 50%;
  text-align: center;
  line-height: 64px;
  font-size: 16px;
  color: #666;
  float: left;
}
/* line 287, ../sass/zhuce.scss */
.login-outer .login-container .login-nav .nav li:hover {
  color: #C62E2D;
}
/* line 292, ../sass/zhuce.scss */
.login-outer .login-container .login-nav span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
}
/* line 300, ../sass/zhuce.scss */
.login-outer .login-container .active1 {
  display: block;
}
/* line 303, ../sass/zhuce.scss */
.login-outer .login-container form {
  display: none;
  width: 100%;
  padding: 15px 48px;
  box-sizing: border-box;
}
/* line 308, ../sass/zhuce.scss */
.login-outer .login-container form ul {
  width: 100%;
  list-style: none;
}
/* line 311, ../sass/zhuce.scss */
.login-outer .login-container form ul li {
  width: 100%;
  height: 64px;
  position: relative;
}
/* line 315, ../sass/zhuce.scss */
.login-outer .login-container form ul li input {
  border-radius: 5px;
  height: 40px;
  width: 100%;
  font-size: 14px;
  padding: 5px 10px 5px 30px;
  box-sizing: border-box;
}
/* line 323, ../sass/zhuce.scss */
.login-outer .login-container form ul li .img1 {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 4px;
  top: 10px;
}
/* line 330, ../sass/zhuce.scss */
.login-outer .login-container form ul li .img2 {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 4px;
  top: 10px;
}
/* line 339, ../sass/zhuce.scss */
.login-outer .login-container form ul .yanzheng1 img {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 110px;
  height: 40px;
  border: 1px solid #ddd;
  border-left: 0;
  box-sizing: border-box;
}
/* line 350, ../sass/zhuce.scss */
.login-outer .login-container form ul .yanzheng1 input {
  border-radius: 5px 0 0 5px;
  float: left;
  height: 40px;
  padding-left: 40px;
  border: 1px solid #ddd;
  font-size: 14px;
  padding-right: 0;
  width: 178px;
  box-sizing: border-box;
}
/* line 362, ../sass/zhuce.scss */
.login-outer .login-container form ul .wang {
  width: 100%;
  height: 20px;
  margin-bottom: 15px;
  text-align: center;
}
/* line 367, ../sass/zhuce.scss */
.login-outer .login-container form ul .wang a {
  text-decoration: none;
  color: #999;
  font-size: 12px;
}
/* line 371, ../sass/zhuce.scss */
.login-outer .login-container form ul .wang a:hover {
  color: #C62E2D;
}
/* line 375, ../sass/zhuce.scss */
.login-outer .login-container form ul .wang .right {
  margin-left: 30px;
}
/* line 379, ../sass/zhuce.scss */
.login-outer .login-container form ul .submit {
  width: 100%;
  height: 64px;
}
/* line 382, ../sass/zhuce.scss */
.login-outer .login-container form ul .submit input {
  height: 40px;
  width: 100%;
  color: #fff;
  border-color: transparent;
  background-color: #C62E2D;
  padding: 0;
}
/* line 391, ../sass/zhuce.scss */
.login-outer .login-container form ul .social-group {
  width: 100%;
  height: 71px;
  text-align: center;
}
/* line 394, ../sass/zhuce.scss */
.login-outer .login-container form ul .social-group .or {
  width: 100%;
  height: 15px;
  font: 12px/15px 榛戜綋;
  margin-bottom: 10px;
}
/* line 401, ../sass/zhuce.scss */
.login-outer .login-container form ul .social-group a {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
}
/* line 406, ../sass/zhuce.scss */
.login-outer .login-container form ul .social-group a img {
  width: 100%;
  height: 100%;
}

/* line 417, ../sass/zhuce.scss */
.main-login-back {
  width: 100%;
  overflow: hidden;
  height: 500px;
  background: url(../img/login/back.jpg) center center no-repeat;
  background-color: white;
  background-size: 1540px 700px;
  position: absolute;
  left: 0;
  top: 150px;
  z-index: -1;
}

/* line 431, ../sass/zhuce.scss */
footer .foot-text {
  width: 1200px;
  margin: 0 auto;
  font: 20px/25px 榛戜綋;
  text-align: center;
}
